services:
  kurrentdb:
    image: kurrentplatform/kurrentdb:25.1
    environment:
      - KURRENTDB_CLUSTER_SIZE=1
      - KURRENTDB_RUN_PROJECTIONS=All
      - KURRENTDB_START_STANDARD_PROJECTIONS=true
      - KURRENTDB_NODE_PORT=2113
      - KURRENTDB_INSECURE=true
      - KURRENTDB_ENABLE_ATOM_PUB_OVER_HTTP=true
    ports:
      - "2113:2113"
    volumes:
      - type: volume
        source: kurrentdb-volume-data
        target: /var/lib/kurrentdb
      - type: volume
        source: kurrentdb-volume-logs
        target: /var/log/kurrentdb

  redis:
    image: redis:7.2.4-bookworm
    ports:
      - "6379:6379"


volumes:
  kurrentdb-volume-data:
  kurrentdb-volume-logs:
  mariadb-volume-data: