name: Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up cluster with Docker Compose
        run: docker-compose up -d

      - name: Run tests
        run: cargo test

      - name: Run clippy
        run: cargo clippy --all-features -- -D clippy::correctness -D clippy::complexity -D clippy::pedantic -D clippy::nursery -D clippy::perf -W clippy::cargo -D clippy::all -D clippy::expect_used

      - name: Shutdown cluster
        run: docker-compose down